<div class="note">
  <%= form_with model: note, autocomplete: "off", data: { turbo_action: :replace } do |form| %>
    <div class="note-header">
      <h1 class="note-title">
        <label class="offscreen" for="note-title-input">
          Enter a title for your note
        </label>
        <%= form.text_field :title, id: "note-title-input" %>
      </h1>
      <div style="flex: 1 0 100%; order: -1; margin-top: 10px;">By
        <img src="https://avatars.githubusercontent.com/laiso?s=40" alt="User Avatar" title="laiso" class="avatar">&nbsp;<a href="https://github.com/laiso" target="_top" rel="noopener noreferrer">laiso</a>
      </div>
      <div class="note-menu" role="menubar">
        <small class="note-updated-at" role="status">Last updated on 5 Mar 2022 at 4:27 PM</small>
        <%= button_to "Done", :notes, type: :submit, class: "note-editor-done" %>
        <%= button_to "Delete", note, method: :delete, class: "note-editor-delete" if note.id %>
      </div>
    </div>
    <div class="note-preview">
      <label class="offscreen" for="note-body-input">
        Enter the body for your note
      </label>
      <div class="field" id="note-body-input">
        <%= form.rich_text_area :body, style: "min-height: 400px" %>
      </div>
    </div>
  <% end %>
</div>