<!DOCTYPE html>
<html>
<head>
  <title>Hotwire Rails (Experimental Demo)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="container">
  <div class="main">
    <section class="col sidebar" data-turbo-permanent>
      <%= render "layouts/logo" %>
      <section class="sidebar-menu" role="menubar">
        <%= form_tag notes_path, method: :get, class: "search", roke: "search", data: { turbo_frame: :notes } do %>
          <%= text_field_tag :q, params[:q], id: "sidebar-search-input", oninput: "requestSubmit()" %>
        <% end %>
        <%= button_tag type: :button, class: "edit-button edit-button--solid" do %>
          <%= link_to "Add", new_note_path, class: "link--unstyled", data: { "turbo-frame": "main", "turbo-action": "replace" } %>
        <% end %>
      </section>

      <%= turbo_frame_tag "sidebar", src: notes_path, loading: :lazy %>
    </section>
    <section class="col note-viewer">
      <%= turbo_frame_tag "main", src: notes_path, loading: :lazy %>
    </section>
  </div>
</div>
</body>
</html>